BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 200
UseTab: ForContinuationAndIndentation
InsertTrailingCommas: None
AlignTrailingComments: true
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# Apply recursively with: 
# find . -iname *.cpp -o -iname *.h | xargs clang-format -i