caspian
caspian.pro.user
caspian.debug
icons/

test/*.level
test/*.chunk
test/levelwriter
test/chunkwriter
test/levelparser

build/

/*.o
/*.cpp
/*.h
.qmake.stash
.cache
Makefile
CMakeCache.txt
CMakeFiles/

stderr.log